<section class="hero" id="hero">
  <div class="hero-slick">
    <img
      src="assets/images/carousal/1.jpg"
      alt="hero 1"
      loading="lazy"
    />
    <img
      src="assets/images/carousal/2.jpg"
      alt="hero 2"
      loading="lazy"
    />
    <img
      src="assets/images/carousal/3.jpg"
      alt="hero 3"
      loading="lazy"
    />
  </div>

  <div class="text">
    <h2>مرحباً بكم في مسكن!</h2>
    <p>مسكن – بوابتك لحلول عقارية ذكية</p>
    <a routerLink="register" class="btn">انضم إلينا</a>
  </div>
</section>
