<section class="testimonials section-padding">
    <div class="container">
      <h2 class="section-title mb-5 text-center">
        شهادات <span class="color">المستفيدين</span>
      </h2>
      <div class="testimonials-wrapper">
        <div class="testimonial">
          <p>
            أول مرة أستخدم موقع عقارات أونلاين وكان عندي تخوف، لكن تجربتي كانت رائعة. أضفت عقاري وتم التواصل معايا من أول أسبوع.
          </p>
          <h5>محمد علي</h5>
          <span>الجيزة</span>
        </div>
        <div class="testimonial">
          <p>
            موقع ممتاز! قدرت ألاقي شقة مفروشة للإيجار اليومي بسهولة، والخريطة ساعدتني أتأكد من الموقع بالضبط. خدمة العملاء كمان كانت ممتازة
          </p>
          <h5>سارة أحمد</h5>
          <span>القاهرة</span>
        </div>
        <div class="testimonial">
          <p>"دائماً ما أجد الدعم والتوجيه من الجمعية."</p>
          <h5>أحمد خالد</h5>
          <span>بني سويف</span>
        </div>
        <div class="testimonial">
          <p>"الميزة اللي عجبتني فعلاً هي إن الصور واضحة والتفاصيل دقيقة. حسيت بثقة قبل ما أروح أشوف العقار."

            </p>
          <h5>أحمد خالد</h5>
          <span>الاسكندرية</span>
        </div>
        <div class="testimonial">
          <p>"الميزة اللي عجبتني فعلاً هي إن الصور واضحة والتفاصيل دقيقة. حسيت بثقة قبل ما أروح أشوف العقار."

            </p>
          <h5>أحمد خالد</h5>
          <span>الاسكندرية</span>
        </div>
        <div class="testimonial">
          <p>"الميزة اللي عجبتني فعلاً هي إن الصور واضحة والتفاصيل دقيقة. حسيت بثقة قبل ما أروح أشوف العقار."

            </p>
          <h5>أحمد خالد</h5>
          <span>الاسكندرية</span>
        </div>
        <div class="testimonial">
          <p>"الميزة اللي عجبتني فعلاً هي إن الصور واضحة والتفاصيل دقيقة. حسيت بثقة قبل ما أروح أشوف العقار."

            </p>
          <h5>أحمد خالد</h5>
          <span>الاسكندرية</span>
        </div>
       
      </div>
    </div>
  </section>