<div class="login-container">
    <div class="login-box">
      <div class="login-image">
        <img 
          src="../../assets/images/login/download.png" 
          alt="Login Illustration"
          loading="lazy"
        />
      </div>
      <div class="login-form">
        <h2>Welcome Back 👋</h2>
        <form>
          <div class="form-group">
            <input type="email" placeholder="Enter your email" required />
          </div>
          <div class="form-group">
            <input type="password" placeholder="Enter your password" required />
          </div>
          <div class="form-links">
            <a href="#" class="forgot-password">Forgot password?</a>
            <a routerLink="/register" class="register-link">Create account</a>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
  