<section class="mission wrapper" id="about">
  <div class="container">
    <!-- مهمتنا -->
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="position-relative">
          <div class="section-heading">
            <p>مهمتنا</p>
            <h2>مهمتنا</h2>
          </div>
          <p class="description">
            مهمتنا هي تسهيل عملية البحث عن العقارات وتوفير منصة موثوقة وآمنة
            تتيح للمستخدمين استكشاف أفضل الفرص العقارية بسهولة، سواء للبيع أو الإيجار،
            مع توفير تجربة مستخدم سلسة وفعالة مدعومة بالتقنية الحديثة وخدمة عملاء متميزة.
          </p>
          
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <img
            src="assets/images/aboutPage/mission.jpg"
            alt="mission"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- رؤيتنا -->
    <div class="row flex-row-reverse">
      <div class="col-lg-6">
        <div class="position-relative">
          <div class="section-heading">
            <p>رؤيتنا</p>
            <h2>رؤيتنا</h2>
          </div>
          <p class="description">
            رؤيتنا هي أن نكون المنصة العقارية الرائدة في المنطقة من خلال تقديم
            تجربة رقمية متكاملة تساعد المستخدم على اتخاذ قرارات عقارية ذكية،
            وتعزز من الشفافية والمصداقية في سوق العقارات.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <img
            src="assets/images/aboutPage/download.png"
            alt="vision"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
